[Desktop Entry]
Type=Application
Version=1.0
Name=Superpaper
GenericName=Multi-monitor wallpaper manager
Exec=/usr/bin/python3 -m superpaper
Icon=superpaper
Terminal=false
Categories=Utility;
X-KDE-autostart-after=panel